{
    "GENERAL" : {
        "cert_file"        : "<path>",
        "key_file"         : "<path>",
        "connect_timeout"  : "60",
        "lowspeed_timeout" : "30",
        "auto_rebuild"     : "yes"
    },
    "REPOS" : {
        "r151022" : {
            "signing"      : "yes",
            "src_repo"     : "<path/URL>",
            "dst_repo"     : "<path/URL>",
            "staging_repo" : "<path/URL>",
            "publisher"    : "omnios",
            "release"      : "r151022",
            "on_hold"      : [ "gnu-binutils" ]
        },
        "bloody" : {
            "pull_src"     : {
                "host1" : "user@build-host:/build/repo"
            },
            "signing"      : "no",
            "src_repo"     : "<path/URL>",
            "dst_repo"     : "<path/URL>",
            "publisher"    : "omnios",
            "release"      : "r151023"
        },
        "r151022-extra" : {
            "signing"      : "yes",
            "src_repo"     : "<path/URL>",
            "dst_repo"     : "<path/URL>",
            "publisher"    : "extra.omnios",
            "release"      : "r151022"
        },
        "bloody-extra" : {
            "signing"      : "no",
            "src_repo"     : "<path/URL>",
            "dst_repo"     : "<path/URL>",
            "publisher"    : "extra.omnios",
            "release"      : "r151023"
        }
    }
}
